gui_node_red.txt
[{"id":"aa83f32.5dfa21","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a8cee055.65f0a","type":"daemon","z":"aa83f32.5dfa21","name":"","command":"python3","args":"-u /home/pi/devpro/AUT2003_proj/test.py","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":600,"y":1020,"wires":[[],[],[]]},{"id":"19e223f5.e2613c","type":"debug","z":"aa83f32.5dfa21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1230,"wires":[]},{"id":"bf5e4fc6.b64c9","type":"inject","z":"aa83f32.5dfa21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1200,"wires":[["a62db9ec.75d338"]]},{"id":"3a76b2e2.24804e","type":"inject","z":"aa83f32.5dfa21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1260,"wires":[["558bcb94.4b9164"]]},{"id":"a62db9ec.75d338","type":"function","z":"aa83f32.5dfa21","name":"kill","func":"msg.kill = 1;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1200,"wires":[[]]},{"id":"558bcb94.4b9164","type":"function","z":"aa83f32.5dfa21","name":"start","func":"msg.start = \"1\";\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1260,"wires":[[]]},{"id":"18a0ae.aac6af52","type":"ui_text_input","z":"aa83f32.5dfa21","name":"Brew name","label":"Brew name","tooltip":"","group":"3485f00f.6e6ef","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":250,"wires":[["e805f2dd.aee"]]},{"id":"af263432.228fe8","type":"ui_text_input","z":"aa83f32.5dfa21","name":"Brewer","label":"Brewer","tooltip":"","group":"3485f00f.6e6ef","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":140,"y":300,"wires":[["d62d1378.6a569"]]},{"id":"32a34a9d.8b9066","type":"ui_numeric","z":"aa83f32.5dfa21","name":"Original gravity","label":"OG","tooltip":"","group":"3485f00f.6e6ef","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1.000","max":"1.100","step":"0.001","x":160,"y":350,"wires":[["b43879e0.3274b8"]]},{"id":"79fae2be.dd7d5c","type":"ui_numeric","z":"aa83f32.5dfa21","name":"Final gravity","label":"Final gravity","tooltip":"","group":"3485f00f.6e6ef","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1.000","max":"1.100","step":"0.001","x":150,"y":400,"wires":[["2d61489f.bac4b8"]]},{"id":"5fc05029.d3fb2","type":"ui_numeric","z":"aa83f32.5dfa21","name":"","label":"Target temperature","tooltip":"","group":"3485f00f.6e6ef","order":7,"width":0,"height":0,"passthru":true,"topic":"Target temperature","format":"","min":0,"max":"40","step":1,"x":170,"y":450,"wires":[["42044f73.4ece2"]]},{"id":"948b1df3.f6bcb","type":"config","z":"aa83f32.5dfa21","name":"","properties":[{"p":"brew_name","pt":"flow","to":"","tot":"str"},{"p":"brewer","pt":"flow","to":"","tot":"str"},{"p":"og","pt":"flow","to":"","tot":"str"},{"p":"fg","pt":"flow","to":"","tot":"str"},{"p":"target_temp","pt":"flow","to":"","tot":"str"},{"p":"logging","pt":"flow","to":"true","tot":"bool"},{"p":"latest_brew","pt":"flow","to":"","tot":"str"},{"p":"python_running","pt":"flow","to":"false","tot":"bool"}],"active":true,"x":150,"y":60,"wires":[]},{"id":"e805f2dd.aee","type":"function","z":"aa83f32.5dfa21","name":"set brew_name","func":"flow.set('brew_name', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":250,"wires":[[]]},{"id":"b43879e0.3274b8","type":"function","z":"aa83f32.5dfa21","name":"set OG","func":"flow.set('og', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":350,"wires":[[]]},{"id":"d62d1378.6a569","type":"function","z":"aa83f32.5dfa21","name":"set brewer","func":"flow.set('brewer', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[[]]},{"id":"2d61489f.bac4b8","type":"function","z":"aa83f32.5dfa21","name":"set FG","func":"flow.set('fg', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[[]]},{"id":"42044f73.4ece2","type":"function","z":"aa83f32.5dfa21","name":"set target_temp","func":"flow.set('target_temp', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":450,"wires":[[]]},{"id":"cd495f73.6654d","type":"ui_button","z":"aa83f32.5dfa21","name":"Add brew","group":"3485f00f.6e6ef","order":8,"width":0,"height":0,"passthru":false,"label":"add brew","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":520,"wires":[["176efdc5.78fd82"]]},{"id":"176efdc5.78fd82","type":"function","z":"aa83f32.5dfa21","name":"addBrew","func":"var brew_name = flow.get('brew_name');\nvar brewer = flow.get('brewer');\nvar og = flow.get('og');\nvar fg = flow.get('fg');\nvar target_temp = flow.get('target_temp');\nvar sql = \"INSERT INTO BREW_INFO(BrewName, Brewer, OG, TargetFG, TargetTemp, IsActive) VALUES('\"+brew_name+\"','\"+brewer+\"','\"+og+\"','\"+fg+\"','\"+target_temp+\"','FLASE');\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["827a8bd3.52c1c8"]]},{"id":"827a8bd3.52c1c8","type":"mysql","z":"aa83f32.5dfa21","mydb":"61c604aa.9fa5fc","name":"BeerDB","x":580,"y":520,"wires":[[]]},{"id":"f39e1038.3fbdd","type":"debug","z":"aa83f32.5dfa21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":860,"wires":[]},{"id":"781cd19c.44323","type":"ui_text","z":"aa83f32.5dfa21","group":"7438fd3d.9a07c4","order":3,"width":0,"height":0,"name":"Log status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":770,"wires":[]},{"id":"14d43817.16b278","type":"mysql","z":"aa83f32.5dfa21","mydb":"61c604aa.9fa5fc","name":"BeerDB","x":1030,"y":680,"wires":[["f659f00b.82093"]]},{"id":"c73fdadb.f65f98","type":"function","z":"aa83f32.5dfa21","name":"getStatus setLatestBrew","func":"var latest_brew = msg.payload[0].ID;\nflow.set('latest_brew', latest_brew)\nvar sql = \"SELECT IsActive from BREW_INFO WHERE BrewID=\"+latest_brew+\";\";\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":680,"wires":[["14d43817.16b278"]]},{"id":"c896b967.a5d8c8","type":"function","z":"aa83f32.5dfa21","name":"getLatestBrew","func":"var sql = \"SELECT MAX(BrewID) AS ID FROM BREW_INFO;\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["c17d7154.eb61e"]]},{"id":"c17d7154.eb61e","type":"mysql","z":"aa83f32.5dfa21","mydb":"61c604aa.9fa5fc","name":"BeerDB","x":590,"y":680,"wires":[["c73fdadb.f65f98"]]},{"id":"f659f00b.82093","type":"function","z":"aa83f32.5dfa21","name":"setStatus","func":"if (msg.payload[0].IsActive == 1) {\n    flow.set('logging', true)\n} else {\n    flow.set('logging', false)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":680,"wires":[[]]},{"id":"c28bece2.6617f","type":"inject","z":"aa83f32.5dfa21","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":770,"wires":[["c896b967.a5d8c8","77b8b435.2bf58c","ff1f7122.08ff1"]]},{"id":"77b8b435.2bf58c","type":"function","z":"aa83f32.5dfa21","name":"set status","func":"if (flow.get('logging')) {\n    msg.payload = 'Logging'\n} else {\n    msg.payload = 'Not logging'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":770,"wires":[["781cd19c.44323"]]},{"id":"ff1f7122.08ff1","type":"function","z":"aa83f32.5dfa21","name":"set label","func":"if (flow.get('logging')) {\n    msg.label = 'Stop logger'\n} else {\n    msg.label = 'Start logger'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["52ad47a9.1ef908"]]},{"id":"52ad47a9.1ef908","type":"ui_button","z":"aa83f32.5dfa21","name":"Start/stop","group":"7438fd3d.9a07c4","order":3,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":560,"y":860,"wires":[["450fccb7.5dbff4"]]},{"id":"cbf97edd.f7069","type":"function","z":"aa83f32.5dfa21","name":"start/stop","func":"if (flow.get('logging')){\n    msg.kill = 1;\n} else {\n    msg.start = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1020,"wires":[["a8cee055.65f0a"]]},{"id":"450fccb7.5dbff4","type":"function","z":"aa83f32.5dfa21","name":"updateDB","func":"var sql = \"UPDATE BREW_INFO SET IsActive=\"+!flow.get('logging')+\" WHERE BrewID =\"+flow.get('latest_brew')+\";\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":860,"wires":[["8eea0e97.1e095"]]},{"id":"895da80f.695308","type":"inject","z":"aa83f32.5dfa21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":1030,"wires":[[]]},{"id":"8eea0e97.1e095","type":"mysql","z":"aa83f32.5dfa21","mydb":"61c604aa.9fa5fc","name":"BeerDB","x":920,"y":860,"wires":[["f39e1038.3fbdd"]]},{"id":"30a92a3d.dbcc46","type":"function","z":"aa83f32.5dfa21","name":"setPythonStatus","func":"if (msg.kill == 1){\n    flow.set('python_running', false)\n} else if (msg.start == 1) {\n    flow.set('python_running', true)\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":940,"wires":[[]]},{"id":"3485f00f.6e6ef","type":"ui_group","z":"","name":"Add brew","tab":"c9be4f72.41107","disp":true,"width":"6","collapse":false},{"id":"61c604aa.9fa5fc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"BeerDB","tz":""},{"id":"7438fd3d.9a07c4","type":"ui_group","z":"","name":"Logger","tab":"c9be4f72.41107","disp":true,"width":"6","collapse":false},{"id":"c9be4f72.41107","type":"ui_tab","z":"","name":"Hydrometer","icon":"dashboard","disabled":false,"hidden":false}]
