NodRedKay.txt
[{"id":"78f5d772.f95b88","type":"tab","label":"SetupBREW","disabled":false,"info":""},{"id":"bf821321.73472","type":"tab","label":"MonitorBREW","disabled":false,"info":""},{"id":"3b1dd07f.c56f3","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"kafaen","tz":""},{"id":"45b34b2a.51e984","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"projekt2003","tz":""},{"id":"a0ea8bc2.bddb28","type":"ui_group","z":"","name":"Bme280","tab":"","order":2,"disp":true,"width":"24","collapse":false},{"id":"aa19057d.d652e8","type":"ui_group","z":"","name":"Cahr","tab":"","order":3,"disp":true,"width":"24","collapse":false},{"id":"aafa0740.681f48","type":"ui_group","z":"","name":"controls","tab":"","order":1,"disp":true,"width":"24","collapse":false},{"id":"7302bb3b.133a74","type":"ui_group","z":"","name":"DB-Data","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"8671f01f.9422e","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"MyDB","tz":""},{"id":"31fe60bf.2018f","type":"ui_group","z":"","name":"Data from-to","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b3b75c08.bd776","type":"ui_group","z":"","name":"DB-Data","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa100eaf.c8545","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Projekt AUT-2003","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6ee1be2a.006bf","type":"ui_group","z":"","name":"Bme280","tab":"","order":2,"disp":true,"width":"24","collapse":false},{"id":"db5a91ce.2cc73","type":"ui_group","z":"","name":"Cahr","tab":"","order":3,"disp":true,"width":"24","collapse":false},{"id":"828fed91.097d4","type":"ui_group","z":"","name":"controls","tab":"","order":1,"disp":true,"width":"24","collapse":false},{"id":"175d678e.2e91c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"MyDB","tz":""},{"id":"326d8b1d.78cb74","type":"ui_group","z":"","name":"Data from-to","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8b1a53b.4a04c8","type":"ui_group","z":"","name":"DB-Data","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6a23620a.a940fc","type":"ui_group","z":"","name":"Monitor current brew","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"ea4e05dc.bd5938","type":"ui_group","z":"","name":"jada","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1a838f.29d9ac8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"Projekt2003","tz":""},{"id":"6ee07d07.281404","type":"ui_group","z":"","name":"Bme280","tab":"","order":2,"disp":true,"width":"24","collapse":false},{"id":"782919ec.a48208","type":"ui_group","z":"","name":"Cahr","tab":"","order":3,"disp":true,"width":"24","collapse":false},{"id":"ad2c4778.1d2578","type":"ui_group","z":"","name":"controls","tab":"","order":1,"disp":true,"width":"24","collapse":false},{"id":"842064a1.3a7f48","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"BeerDB","tz":""},{"id":"57f29b17.8f8fc4","type":"ui_group","z":"","name":"Setup new brew","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"aada7e17.67824","type":"ui_group","z":"","name":"Add brew","tab":"","disp":true,"width":"6","collapse":false},{"id":"ab82a609.0cd988","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"BeerDB","tz":""},{"id":"35242a69.c4c1b6","type":"ui_group","z":"","name":"Logger","tab":"","disp":true,"width":"6","collapse":false},{"id":"115fe9b0.017a06","type":"ui_group","z":"","name":"Brew info","tab":"cb37c44c.559b68","order":1,"disp":true,"width":"10","collapse":false},{"id":"b7b77431.e03f08","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"BeerDB","tz":""},{"id":"b91b8640.2d7668","type":"ui_group","z":"","name":"Logger","tab":"cb37c44c.559b68","order":2,"disp":true,"width":"4","collapse":false},{"id":"cb37c44c.559b68","type":"ui_tab","z":"","name":"Start new brew","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ec558e1e.cbde9","type":"ui_spacer","name":"spacer","group":"b91b8640.2d7668","order":2,"width":1,"height":1},{"id":"a9a818db.95b908","type":"ui_spacer","name":"spacer","group":"b91b8640.2d7668","order":2,"width":1,"height":1},{"id":"c32e221a.2891f","type":"ui_spacer","name":"spacer","group":"115fe9b0.017a06","order":1,"width":1,"height":1},{"id":"e973393a.4aeef8","type":"ui_tab","z":"","name":"Monitor current brew","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"95eb2572.a5d4c8","type":"ui_group","z":"","name":"","tab":"e973393a.4aeef8","order":5,"disp":true,"width":"12","collapse":false},{"id":"813eac38.03644","type":"ui_spacer","name":"spacer","group":"95eb2572.a5d4c8","order":1,"width":1,"height":1},{"id":"61d4033b.be40bc","type":"ui_group","z":"","name":"Bme280","tab":"b257f4c0.a98358","order":2,"disp":true,"width":"24","collapse":false},{"id":"2e31c90b.c5f9b6","type":"ui_group","z":"","name":"Cahr","tab":"b257f4c0.a98358","order":3,"disp":true,"width":"24","collapse":false},{"id":"fc4bb967.605d98","type":"ui_group","z":"","name":"controls","tab":"b257f4c0.a98358","order":1,"disp":true,"width":"24","collapse":false},{"id":"b257f4c0.a98358","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ecbb5710.ee1308","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"bb6589ad.d6c378","type":"ui_group","z":"","name":"Bme280","tab":"43301529.151b5c","order":2,"disp":true,"width":"24","collapse":false},{"id":"192a59f4.565d26","type":"ui_group","z":"","name":"Cahr","tab":"43301529.151b5c","order":3,"disp":true,"width":"24","collapse":false},{"id":"ce3602d9.24d14","type":"ui_group","z":"","name":"controls","tab":"43301529.151b5c","order":1,"disp":true,"width":"24","collapse":false},{"id":"43301529.151b5c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ffd94201.d4289","type":"ui_group","z":"","name":"Specific gravity","tab":"e973393a.4aeef8","order":3,"disp":true,"width":"6","collapse":false},{"id":"79686948.2be2c8","type":"ui_group","z":"","name":"Temperature","tab":"e973393a.4aeef8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b9e7807e.f3e97","type":"ui_group","z":"","name":"Brewer","tab":"e973393a.4aeef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"89882092.85cb6","type":"ui_group","z":"","name":"Brew type","tab":"e973393a.4aeef8","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc80d6a9.5ccb98","type":"ui_group","z":"","name":"","tab":"e973393a.4aeef8","order":6,"disp":true,"width":"12","collapse":false},{"id":"a0a86a1a.64c738","type":"daemon","z":"78f5d772.f95b88","name":"","command":"python3","args":"-u /home/pi/devpro/AUT2003_proj/test.py","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":600,"y":972,"wires":[["6ee73fa0.d98ac"],[],["8d748187.6284f"]]},{"id":"f61e4ca.ed9d0b","type":"inject","z":"78f5d772.f95b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1200,"wires":[["ebd400a7.715c9"]]},{"id":"b71b2031.eed6e","type":"inject","z":"78f5d772.f95b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1260,"wires":[["e7585d77.474f1"]]},{"id":"ebd400a7.715c9","type":"function","z":"78f5d772.f95b88","name":"kill","func":"msg.kill = 1;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1200,"wires":[[]]},{"id":"e7585d77.474f1","type":"function","z":"78f5d772.f95b88","name":"start","func":"msg.start = \"1\";\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1260,"wires":[[]]},{"id":"f2ee3423.dae298","type":"config","z":"78f5d772.f95b88","name":"","properties":[{"p":"brew_name","pt":"flow","to":"","tot":"str"},{"p":"brewer","pt":"flow","to":"","tot":"str"},{"p":"og","pt":"flow","to":"","tot":"str"},{"p":"fg","pt":"flow","to":"","tot":"str"},{"p":"target_temp","pt":"flow","to":"","tot":"str"},{"p":"logging","pt":"flow","to":"true","tot":"bool"},{"p":"latest_brew","pt":"flow","to":"","tot":"str"},{"p":"python_running","pt":"flow","to":"false","tot":"bool"}],"active":true,"x":160,"y":280,"wires":[]},{"id":"d4e5738e.ffd4d","type":"ui_button","z":"78f5d772.f95b88","name":"Add brew","group":"115fe9b0.017a06","order":8,"width":0,"height":0,"passthru":false,"label":"add brew","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":520,"wires":[["5d54e008.50ea3"]]},{"id":"5d54e008.50ea3","type":"function","z":"78f5d772.f95b88","name":"addBrew","func":"var brew_name = flow.get('brew_name');\nvar brewer = flow.get('brewer');\nvar og = flow.get('og');\nvar fg = flow.get('fg');\nvar target_temp = flow.get('target_temp');\nvar sql = \"INSERT INTO BREW_INFO(BrewName, Brewer, OG, TargetFG, TargetTemp, IsActive) VALUES('\"+brew_name+\"','\"+brewer+\"','\"+og+\"','\"+fg+\"','\"+target_temp+\"','FALSE');\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["a5c09859.3cdd98"]]},{"id":"a5c09859.3cdd98","type":"mysql","z":"78f5d772.f95b88","mydb":"b7b77431.e03f08","name":"BeerDB","x":580,"y":520,"wires":[[]]},{"id":"adac08aa.c26d18","type":"ui_text","z":"78f5d772.f95b88","group":"b91b8640.2d7668","order":3,"width":0,"height":0,"name":"Log status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":770,"wires":[]},{"id":"c7582d9e.a21ab","type":"mysql","z":"78f5d772.f95b88","mydb":"b7b77431.e03f08","name":"BeerDB","x":1030,"y":680,"wires":[["1224a73b.f66259"]]},{"id":"87d0ffda.c20e4","type":"function","z":"78f5d772.f95b88","name":"getStatus setLatestBrew","func":"var latest_brew = msg.payload[0].ID;\nflow.set('latest_brew', latest_brew)\nvar sql = \"SELECT IsActive from BREW_INFO WHERE BrewID=\"+latest_brew+\";\";\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":680,"wires":[["c7582d9e.a21ab"]]},{"id":"f260f365.dda19","type":"function","z":"78f5d772.f95b88","name":"getLatestBrew","func":"var sql = \"SELECT MAX(BrewID) AS ID FROM BREW_INFO;\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["7dc05011.630c4"]]},{"id":"7dc05011.630c4","type":"mysql","z":"78f5d772.f95b88","mydb":"b7b77431.e03f08","name":"BeerDB","x":590,"y":680,"wires":[["87d0ffda.c20e4"]]},{"id":"1224a73b.f66259","type":"function","z":"78f5d772.f95b88","name":"setStatus","func":"if (msg.payload[0].IsActive == 1) {\n    flow.set('logging', true)\n} else {\n    flow.set('logging', false)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":680,"wires":[[]]},{"id":"379546b1.ab778a","type":"inject","z":"78f5d772.f95b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":810,"wires":[["f260f365.dda19","c946c9da.252e38","5bf8994a.fada58","1848583d.551328"]]},{"id":"c946c9da.252e38","type":"function","z":"78f5d772.f95b88","name":"set status","func":"if (flow.get('logging')) {\n    msg.payload = 'Logging'\n} else {\n    msg.payload = 'Not logging'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":770,"wires":[["adac08aa.c26d18"]]},{"id":"5bf8994a.fada58","type":"function","z":"78f5d772.f95b88","name":"set label","func":"if (flow.get('logging')) {\n    msg.label = 'Stop logger'\n} else {\n    msg.label = 'Start logger'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["5d866f9f.13661"]]},{"id":"5d866f9f.13661","type":"ui_button","z":"78f5d772.f95b88","name":"Start/stop","group":"b91b8640.2d7668","order":3,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":560,"y":860,"wires":[["c51f1501.dce168"]]},{"id":"1848583d.551328","type":"function","z":"78f5d772.f95b88","name":"start/stop","func":"var py_stat = flow.get('python_running')\nvar log_stat = flow.get('logging')\n\nif (!py_stat && log_stat){\n    msg.start= \"\";\n    return msg;\n} else if (py_stat && !log_stat) {\n    msg.kill = \"SIGINT\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":972,"wires":[["a0a86a1a.64c738"]]},{"id":"c51f1501.dce168","type":"function","z":"78f5d772.f95b88","name":"updateDB","func":"var sql = \"UPDATE BREW_INFO SET IsActive=\"+!flow.get('logging')+\" WHERE BrewID =\"+flow.get('latest_brew')+\";\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":860,"wires":[["9e273c4f.b9ba6"]]},{"id":"7c938544.0cba3c","type":"inject","z":"78f5d772.f95b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":1030,"wires":[[]]},{"id":"9e273c4f.b9ba6","type":"mysql","z":"78f5d772.f95b88","mydb":"b7b77431.e03f08","name":"BeerDB","x":920,"y":860,"wires":[[]]},{"id":"20e46585.80777a","type":"function","z":"78f5d772.f95b88","name":"setPythonStatus","func":"if (msg.kill == 1){\n    flow.set('python_running', false)\n} else if (msg.start == 1) {\n    flow.set('python_running', true)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1300,"wires":[[]]},{"id":"6ee73fa0.d98ac","type":"function","z":"78f5d772.f95b88","name":"updateProcessStatus start","func":"if (msg.payload) {\n    flow.set('python_running', true)\n}\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":932,"wires":[[]]},{"id":"8d748187.6284f","type":"function","z":"78f5d772.f95b88","name":"updateProcessStatus stop","func":"if (msg.payload) {\n    flow.set('python_running', false)\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1012,"wires":[[]]},{"id":"779f29f8.967e28","type":"ui_form","z":"78f5d772.f95b88","name":"","label":"","group":"115fe9b0.017a06","order":1,"width":0,"height":0,"options":[{"label":"Brew name (Max 12 char)","value":"brew_name","type":"text","required":true},{"label":"Brewer (No empty space)","value":"brewer","type":"text","required":true},{"label":"Original gravity","value":"og","type":"number","required":true},{"label":"Target final gravity","value":"target_fg","type":"number","required":false},{"label":"Target temperature","value":"target_temp","type":"number","required":false}],"formValue":{"brew_name":"","brewer":"","og":"","target_fg":"","target_temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":380,"wires":[["17da0af3.4495c5"]]},{"id":"17da0af3.4495c5","type":"function","z":"78f5d772.f95b88","name":"","func":"flow.set('brew_name', msg.payload.brew_name)\nflow.set('brewer', msg.payload.brewer)\nflow.set('og', msg.payload.og)\nflow.set('fg', msg.payload.target_fg)\nflow.set('target_temp', msg.payload.target_temp)\nmsg.topic = \"INSERT INTO BREW_INFO (brew_name, brewer, og, target_fg, target_temp) VALUES ('\" + msg.payload.brew_name + \"', '\" + msg.payload.brewer + \"', \" + msg.payload.og + \", \" + msg.payload.target_fg + \", \" + msg.payload.target_temp + \")\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[[]]},{"id":"aa31f75a.74bc38","type":"ui_chart","z":"bf821321.73472","name":"","group":"fc80d6a9.5ccb98","order":2,"width":"9","height":"7","label":"SG ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"1","ymax":"1.080","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":450,"y":460,"wires":[[],[]]},{"id":"d6e38c47.ae815","type":"ui_text","z":"bf821321.73472","group":"79686948.2be2c8","order":1,"width":"4","height":"1","name":"Temp","label":"","format":"{{msg.payload}}","layout":"col-center","x":590,"y":160,"wires":[]},{"id":"8df3e1e2.b5556","type":"ui_text","z":"bf821321.73472","group":"b9e7807e.f3e97","order":1,"width":"4","height":"1","name":"Brewer","label":"","format":"{{msg.payload}}","layout":"col-center","x":600,"y":240,"wires":[]},{"id":"b8815e78.3c53b","type":"ui_text","z":"bf821321.73472","group":"ffd94201.d4289","order":1,"width":"4","height":"1","name":"SG","label":"","format":"{{msg.payload}}","layout":"col-center","x":620,"y":80,"wires":[]},{"id":"86c1e110.dfbc1","type":"ui_chart","z":"bf821321.73472","name":"","group":"95eb2572.a5d4c8","order":2,"width":"9","height":"7","label":"Temperature [C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"9","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":390,"wires":[[],[]]},{"id":"6eb2fd53.3c8574","type":"ui_text","z":"bf821321.73472","group":"89882092.85cb6","order":1,"width":"4","height":"1","name":"Brew type","label":"","format":"{{msg.payload}}","layout":"col-center","x":610,"y":290,"wires":[]},{"id":"e1da5203.06a7a","type":"inject","z":"bf821321.73472","name":"GetSG","topic":"SELECT SG FROM MEASUREMENTS ORDER BY Time DESC   LIMIT 1;","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":90,"wires":[["cf75123.20885f"]]},{"id":"cf75123.20885f","type":"mysql","z":"bf821321.73472","mydb":"842064a1.3a7f48","name":"","x":260,"y":80,"wires":[["e3e49f4f.d1337"]]},{"id":"e3e49f4f.d1337","type":"function","z":"bf821321.73472","name":"","func":"flow.set('SG', msg.payload[0].SG)\nmsg.payload = msg.payload[0].SG\n\n\nreturn msg","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["b8815e78.3c53b"]]},{"id":"55350d64.a1ddd4","type":"inject","z":"bf821321.73472","name":"GetTemp","topic":"SELECT Temperature FROM MEASUREMENTS ORDER BY Time DESC   LIMIT 1;","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":160,"wires":[["7ab2de84.c3bd2"]]},{"id":"7ab2de84.c3bd2","type":"mysql","z":"bf821321.73472","mydb":"842064a1.3a7f48","name":"","x":270,"y":160,"wires":[["51b50687.014938"]]},{"id":"51b50687.014938","type":"function","z":"bf821321.73472","name":"","func":"flow.set('Temp', msg.payload[0].Temperature)\nmsg.payload = msg.payload[0].Temperature;\n\nreturn msg","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["d6e38c47.ae815"]]},{"id":"d7910027.f39f2","type":"inject","z":"bf821321.73472","name":"GetTemp","topic":"SELECT Brewer FROM BREW_INFO ORDER BY BrewID DESC   LIMIT 1;","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":240,"wires":[["8bb6e443.34f5a8"]]},{"id":"8bb6e443.34f5a8","type":"mysql","z":"bf821321.73472","mydb":"842064a1.3a7f48","name":"","x":270,"y":240,"wires":[["cb70ed5a.227da"]]},{"id":"cb70ed5a.227da","type":"function","z":"bf821321.73472","name":"","func":"msg.payload = msg.payload[0].Brewer;\n\nreturn msg","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["8df3e1e2.b5556"]]},{"id":"10623648.0fcdaa","type":"inject","z":"bf821321.73472","name":"GetTemp","topic":"SELECT BrewName FROM BREW_INFO ORDER BY BrewID DESC   LIMIT 1;","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":310,"wires":[["209ba39c.ec066c"]]},{"id":"209ba39c.ec066c","type":"mysql","z":"bf821321.73472","mydb":"842064a1.3a7f48","name":"","x":270,"y":310,"wires":[["5b3194d8.35015c"]]},{"id":"5b3194d8.35015c","type":"function","z":"bf821321.73472","name":"","func":"msg.payload = msg.payload[0].BrewName;\n\nreturn msg","outputs":1,"noerr":0,"x":420,"y":310,"wires":[["6eb2fd53.3c8574"]]},{"id":"be122ef2.88eb","type":"function","z":"bf821321.73472","name":"","func":"var SG = flow.get('SG');\nvar Temp = flow.get('Temp');\n\nmsg3 = { topic: \"SG\", payload: SG };\nmsg4 = { topic: \"Temp\", payload: Temp };\nreturn [msg3,msg4]; \n//return [[msg1, msg2, msg3, msg4],msg]; ","outputs":2,"noerr":0,"x":300,"y":440,"wires":[["86c1e110.dfbc1"],["d09363b5.08813","aa31f75a.74bc38"]]},{"id":"d09363b5.08813","type":"debug","z":"bf821321.73472","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":530,"wires":[]},{"id":"3516e3f3.37bcbc","type":"inject","z":"bf821321.73472","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":450,"wires":[["be122ef2.88eb"]]},{"id":"eac4e0e4.ac19f","type":"ui_dropdown","z":"bf821321.73472","name":"","label":"","tooltip":"","place":"Select option","group":"b91b8640.2d7668","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":170,"y":730,"wires":[[]]},{"id":"d4e3c636.4d6d48","type":"mysql","z":"bf821321.73472","mydb":"842064a1.3a7f48","name":"","x":290,"y":650,"wires":[["1ea74050.e7d3b","83e99cea.8509f"]]},{"id":"1e9f40a7.93b9af","type":"inject","z":"bf821321.73472","name":"","topic":"SELECT * FROM BREW_INFO","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":660,"wires":[["d4e3c636.4d6d48"]]},{"id":"1ea74050.e7d3b","type":"debug","z":"bf821321.73472","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":680,"wires":[]},{"id":"83e99cea.8509f","type":"python-function","z":"bf821321.73472","name":"","func":"\nreturn msg","outputs":1,"x":500,"y":640,"wires":[[]]}]
