rednodebackup
[{"id":"a5071a9b.49cae8","type":"tab","label":"SetupBREW","disabled":false,"info":""},{"id":"373c347a.9c4b0c","type":"ui_button","z":"a5071a9b.49cae8","name":"Add brew","group":"11bd6983.989146","order":8,"width":0,"height":0,"passthru":false,"label":"add brew","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":520,"wires":[["ee8efa82.daa318"]]},{"id":"ee8efa82.daa318","type":"function","z":"a5071a9b.49cae8","name":"addBrew","func":"var brew_name = flow.get('brew_name');\nvar brewer = flow.get('brewer');\nvar og = flow.get('og');\nvar fg = flow.get('fg');\nvar target_temp = flow.get('target_temp');\nvar sql = \"INSERT INTO BREW_INFO(BrewName, Brewer, OG, TargetFG, TargetTemp, IsActive) VALUES('\"+brew_name+\"','\"+brewer+\"','\"+og+\"','\"+fg+\"','\"+target_temp+\"','FALSE');\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["1685219f.5881de"]]},{"id":"1685219f.5881de","type":"mysql","z":"a5071a9b.49cae8","mydb":"7f7ae634.1949b8","name":"BeerDB","x":580,"y":520,"wires":[[]]},{"id":"b113de92.7fdf3","type":"ui_text","z":"a5071a9b.49cae8","group":"490ed250.49c62c","order":3,"width":0,"height":0,"name":"Log status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":870,"wires":[]},{"id":"560c57e3.dfe9b8","type":"mysql","z":"a5071a9b.49cae8","mydb":"7f7ae634.1949b8","name":"BeerDB","x":1030,"y":680,"wires":[["3dc85890.e47f08"]]},{"id":"c0b3c84f.97b178","type":"function","z":"a5071a9b.49cae8","name":"getStatus setLatestBrew","func":"var latest_brew = msg.payload[0].ID;\nflow.set('latest_brew', latest_brew)\nvar sql = \"SELECT IsActive from BREW_INFO WHERE BrewID=\"+latest_brew+\";\";\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":680,"wires":[["560c57e3.dfe9b8"]]},{"id":"d0d2148d.0aae78","type":"function","z":"a5071a9b.49cae8","name":"getLatestBrew","func":"var sql = \"SELECT MAX(BrewID) AS ID FROM BREW_INFO;\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["a50b556b.2ff7f8"]]},{"id":"a50b556b.2ff7f8","type":"mysql","z":"a5071a9b.49cae8","mydb":"7f7ae634.1949b8","name":"BeerDB","x":590,"y":680,"wires":[["c0b3c84f.97b178"]]},{"id":"3dc85890.e47f08","type":"function","z":"a5071a9b.49cae8","name":"setStatus","func":"if (msg.payload[0].IsActive == 1) {\n    flow.set('logging', true)\n} else {\n    flow.set('logging', false)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":680,"wires":[[]]},{"id":"504d4d91.cbcab4","type":"inject","z":"a5071a9b.49cae8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":810,"wires":[["73a3503c.d9448","23d00801.583878","9676dc35.39b8f","d0d2148d.0aae78"]]},{"id":"73a3503c.d9448","type":"function","z":"a5071a9b.49cae8","name":"set status","func":"if (flow.get('logging')) {\n    msg.payload = 'Logging'\n} else {\n    msg.payload = 'Not logging'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":870,"wires":[["b113de92.7fdf3"]]},{"id":"23d00801.583878","type":"function","z":"a5071a9b.49cae8","name":"set label","func":"if (flow.get('logging')) {\n    msg.label = 'Stop logger'\n} else {\n    msg.label = 'Start logger'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":790,"wires":[["afce85ff.cc1d58"]]},{"id":"afce85ff.cc1d58","type":"ui_button","z":"a5071a9b.49cae8","name":"Start/stop","group":"490ed250.49c62c","order":3,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":560,"y":790,"wires":[["2fc1302d.c329"]]},{"id":"9676dc35.39b8f","type":"function","z":"a5071a9b.49cae8","name":"start/stop","func":"var py_stat = flow.get('python_running')\nvar log_stat = flow.get('logging')\n\nif (!py_stat && log_stat){\n    msg.start= \"\";\n    return msg;\n} else if (py_stat && !log_stat) {\n    msg.kill = \"SIGINT\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":972,"wires":[["d1504ed5.b4aef"]]},{"id":"2fc1302d.c329","type":"function","z":"a5071a9b.49cae8","name":"updateDB","func":"var sql = \"UPDATE BREW_INFO SET IsActive=\"+!flow.get('logging')+\" WHERE BrewID =\"+flow.get('latest_brew')+\";\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":790,"wires":[["18516923.aee597"]]},{"id":"18516923.aee597","type":"mysql","z":"a5071a9b.49cae8","mydb":"7f7ae634.1949b8","name":"BeerDB","x":920,"y":790,"wires":[[]]},{"id":"871fc89b.29ad18","type":"function","z":"a5071a9b.49cae8","name":"updateProcessStatus start","func":"if (msg.payload) {\n    flow.set('python_running', true)\n}\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":920,"wires":[["a527180d.39eb48"]]},{"id":"a03f4bf.0b64bb8","type":"function","z":"a5071a9b.49cae8","name":"updateProcessStatus stop","func":"if (msg.payload) {\n    flow.set('python_running', false)\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1040,"wires":[[]]},{"id":"86833c17.b80a3","type":"ui_form","z":"a5071a9b.49cae8","name":"","label":"","group":"11bd6983.989146","order":1,"width":0,"height":0,"options":[{"label":"Brew name (Max 12 char)","value":"brew_name","type":"text","required":true},{"label":"Brewer (No empty space)","value":"brewer","type":"text","required":true},{"label":"Original gravity","value":"og","type":"number","required":true},{"label":"Target final gravity","value":"target_fg","type":"number","required":false},{"label":"Target temperature","value":"target_temp","type":"number","required":false}],"formValue":{"brew_name":"","brewer":"","og":"","target_fg":"","target_temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":380,"wires":[["43dae99f.70f3b8"]]},{"id":"43dae99f.70f3b8","type":"function","z":"a5071a9b.49cae8","name":"","func":"flow.set('brew_name', msg.payload.brew_name)\nflow.set('brewer', msg.payload.brewer)\nflow.set('og', msg.payload.og)\nflow.set('fg', msg.payload.target_fg)\nflow.set('target_temp', msg.payload.target_temp)\nmsg.topic = \"INSERT INTO BREW_INFO (brew_name, brewer, og, target_fg, target_temp) VALUES ('\" + msg.payload.brew_name + \"', '\" + msg.payload.brewer + \"', \" + msg.payload.og + \", \" + msg.payload.target_fg + \", \" + msg.payload.target_temp + \")\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[[]]},{"id":"d1504ed5.b4aef","type":"daemon","z":"a5071a9b.49cae8","name":"","command":"python3","args":"-u /home/pi/AUT_2003/AUT2003_proj/main.py","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":600,"y":972,"wires":[["871fc89b.29ad18"],["e1a155c0.0677f8"],["a03f4bf.0b64bb8"]]},{"id":"90f614be.1dac38","type":"config","z":"a5071a9b.49cae8","name":"","properties":[{"p":"brew_name","pt":"flow","to":"","tot":"str"},{"p":"brewer","pt":"flow","to":"","tot":"str"},{"p":"og","pt":"flow","to":"","tot":"str"},{"p":"fg","pt":"flow","to":"","tot":"str"},{"p":"target_temp","pt":"flow","to":"","tot":"str"},{"p":"logging","pt":"flow","to":"true","tot":"bool"},{"p":"latest_brew","pt":"flow","to":"","tot":"str"},{"p":"python_running","pt":"flow","to":"false","tot":"bool"}],"active":true,"x":160,"y":280,"wires":[]},{"id":"a527180d.39eb48","type":"debug","z":"a5071a9b.49cae8","name":"stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":920,"wires":[]},{"id":"e1a155c0.0677f8","type":"debug","z":"a5071a9b.49cae8","name":"stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":960,"wires":[]},{"id":"11bd6983.989146","type":"ui_group","z":"","name":"Brew info","tab":"5b27e8db.4c6728","order":1,"disp":true,"width":"10","collapse":false},{"id":"7f7ae634.1949b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"BeerDB","tz":""},{"id":"490ed250.49c62c","type":"ui_group","z":"","name":"Logger","tab":"5b27e8db.4c6728","order":2,"disp":true,"width":"4","collapse":false},{"id":"5b27e8db.4c6728","type":"ui_tab","z":"","name":"Start new brew","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
