NodeRED/node_red_setupbrew
[{"id":"1b57437d.e80ddd","type":"tab","label":"SetupBREW","disabled":false,"info":""},{"id":"7f8418ad.0ee0a8","type":"ui_button","z":"1b57437d.e80ddd","name":"Add brew","group":"b1f83b9d.12faf8","order":8,"width":0,"height":0,"passthru":false,"label":"add brew","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":520,"wires":[["dd559e26.dbf89"]]},{"id":"dd559e26.dbf89","type":"function","z":"1b57437d.e80ddd","name":"addBrew","func":"var brew_name = flow.get('brew_name');\nvar brewer = flow.get('brewer');\nvar og = flow.get('og');\nvar fg = flow.get('fg');\nvar target_temp = flow.get('target_temp');\nvar sql = \"INSERT INTO BREW_INFO(BrewName, Brewer, OG, TargetFG, TargetTemp, IsActive) VALUES('\"+brew_name+\"','\"+brewer+\"','\"+og+\"','\"+fg+\"','\"+target_temp+\"','FALSE');\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["a5b5840f.22f228"]]},{"id":"a5b5840f.22f228","type":"mysql","z":"1b57437d.e80ddd","mydb":"6f509d75.5c9544","name":"BeerDB","x":580,"y":520,"wires":[["f56f1f95.22a92"]]},{"id":"42eb7e74.d3c48","type":"ui_text","z":"1b57437d.e80ddd","group":"984e788e.3513d8","order":3,"width":0,"height":0,"name":"Log status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":870,"wires":[]},{"id":"a9a69c9e.46841","type":"mysql","z":"1b57437d.e80ddd","mydb":"6f509d75.5c9544","name":"BeerDB","x":1100,"y":700,"wires":[["12255048.e4bb3"]]},{"id":"964590fa.79c9a","type":"function","z":"1b57437d.e80ddd","name":"setLatestBrew","func":"var latest_brew = msg.payload[0].ID;\nflow.set('latest_brew', latest_brew)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":620,"wires":[["5c5c78cb.cdc468"]]},{"id":"f56f1f95.22a92","type":"function","z":"1b57437d.e80ddd","name":"getLatestBrew","func":"var sql = \"SELECT MAX(BrewID) AS ID FROM BREW_INFO;\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":620,"wires":[["c4b1274f.7281e8"]]},{"id":"c4b1274f.7281e8","type":"mysql","z":"1b57437d.e80ddd","mydb":"6f509d75.5c9544","name":"BeerDB","x":1040,"y":620,"wires":[["964590fa.79c9a"]]},{"id":"12255048.e4bb3","type":"function","z":"1b57437d.e80ddd","name":"setStatus","func":"if (msg.payload[0].IsActive == 1) {\n    flow.set('logging', true)\n} else {\n    flow.set('logging', false)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":700,"wires":[[]]},{"id":"dcf38e14.f2311","type":"inject","z":"1b57437d.e80ddd","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":870,"wires":[["4bb4a90b.786b58","91c6100d.71333","2162499.a1c8eb6"]]},{"id":"4bb4a90b.786b58","type":"function","z":"1b57437d.e80ddd","name":"set status","func":"if (flow.get('logging')) {\n    msg.payload = 'Logging'\n} else {\n    msg.payload = 'Not logging'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":870,"wires":[["42eb7e74.d3c48"]]},{"id":"91c6100d.71333","type":"function","z":"1b57437d.e80ddd","name":"set label","func":"if (flow.get('logging')) {\n    msg.label = 'Stop logger'\n} else {\n    msg.label = 'Start logger'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":790,"wires":[["df81fc0c.06ce2"]]},{"id":"df81fc0c.06ce2","type":"ui_button","z":"1b57437d.e80ddd","name":"Start/stop","group":"984e788e.3513d8","order":3,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":560,"y":790,"wires":[["76c9a357.45606c","5c5c78cb.cdc468"]]},{"id":"2162499.a1c8eb6","type":"function","z":"1b57437d.e80ddd","name":"start/stop","func":"var py_stat = flow.get('python_running')\nvar log_stat = flow.get('logging')\n\nif (!py_stat && log_stat){\n    msg.start= \"\";\n    return msg;\n} else if (py_stat && !log_stat) {\n    msg.kill = \"SIGINT\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":972,"wires":[["b87ba69.8720d58"]]},{"id":"76c9a357.45606c","type":"function","z":"1b57437d.e80ddd","name":"updateDB","func":"var sql = \"UPDATE BREW_INFO SET IsActive=\"+!flow.get('logging')+\" WHERE BrewID =\"+flow.get('latest_brew')+\";\";\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":790,"wires":[["53975c4f.3e2c84"]]},{"id":"53975c4f.3e2c84","type":"mysql","z":"1b57437d.e80ddd","mydb":"6f509d75.5c9544","name":"BeerDB","x":920,"y":790,"wires":[[]]},{"id":"39979a3a.595796","type":"function","z":"1b57437d.e80ddd","name":"updateProcessStatus start","func":"flow.set('python_running', true)\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":920,"wires":[["4976f274.057aec"]]},{"id":"629fc811.dbd708","type":"function","z":"1b57437d.e80ddd","name":"updateProcessStatus stop","func":"flow.set('python_running', false)\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1040,"wires":[[]]},{"id":"ff916749.32a088","type":"ui_form","z":"1b57437d.e80ddd","name":"","label":"","group":"b1f83b9d.12faf8","order":1,"width":0,"height":0,"options":[{"label":"Brew name (Max 12 char)","value":"brew_name","type":"text","required":true},{"label":"Brewer (No empty space)","value":"brewer","type":"text","required":true},{"label":"Original gravity","value":"og","type":"number","required":true},{"label":"Target final gravity","value":"target_fg","type":"number","required":false},{"label":"Target temperature","value":"target_temp","type":"number","required":false}],"formValue":{"brew_name":"","brewer":"","og":"","target_fg":"","target_temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":380,"wires":[["c05f96ba.e28f18"]]},{"id":"c05f96ba.e28f18","type":"function","z":"1b57437d.e80ddd","name":"","func":"flow.set('brew_name', msg.payload.brew_name)\nflow.set('brewer', msg.payload.brewer)\nflow.set('og', msg.payload.og)\nflow.set('fg', msg.payload.target_fg)\nflow.set('target_temp', msg.payload.target_temp)\nmsg.topic = \"INSERT INTO BREW_INFO (brew_name, brewer, og, target_fg, target_temp) VALUES ('\" + msg.payload.brew_name + \"', '\" + msg.payload.brewer + \"', \" + msg.payload.og + \", \" + msg.payload.target_fg + \", \" + msg.payload.target_temp + \")\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[[]]},{"id":"b87ba69.8720d58","type":"daemon","z":"1b57437d.e80ddd","name":"","command":"python3","args":"-u /home/pi/devpro/AUT2003_proj/test.py","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGTERM","x":600,"y":972,"wires":[["39979a3a.595796"],["c81a7a5f.9df198"],["629fc811.dbd708"]]},{"id":"e6a1525b.0b957","type":"config","z":"1b57437d.e80ddd","name":"","properties":[{"p":"brew_name","pt":"flow","to":"","tot":"str"},{"p":"brewer","pt":"flow","to":"","tot":"str"},{"p":"og","pt":"flow","to":"","tot":"str"},{"p":"fg","pt":"flow","to":"","tot":"str"},{"p":"target_temp","pt":"flow","to":"","tot":"str"},{"p":"logging","pt":"flow","to":"true","tot":"bool"},{"p":"latest_brew","pt":"flow","to":"","tot":"str"},{"p":"python_running","pt":"flow","to":"false","tot":"bool"}],"active":true,"x":160,"y":280,"wires":[]},{"id":"1085dd9.5c7e222","type":"debug","z":"1b57437d.e80ddd","name":"stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":1170,"wires":[]},{"id":"c81a7a5f.9df198","type":"debug","z":"1b57437d.e80ddd","name":"stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":972,"wires":[]},{"id":"5c5c78cb.cdc468","type":"function","z":"1b57437d.e80ddd","name":"getLatestBrewStatus","func":"var latest_brew = flow.get('latest_brew')\nvar sql = \"SELECT IsActive from BREW_INFO WHERE BrewID=\"+latest_brew+\";\";\nmsg.topic = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":700,"wires":[["a9a69c9e.46841"]]},{"id":"d1c2d655.5708d8","type":"inject","z":"1b57437d.e80ddd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":620,"wires":[["f56f1f95.22a92"]]},{"id":"4976f274.057aec","type":"buffer-array","z":"1b57437d.e80ddd","name":"Console buffer","bufferLen":"5","startWhenFilled":false,"x":1130,"y":920,"wires":[["7e42e1de.9372","839f440d.c74538","81cddcf8.9e41e","6b9168d4.1c50e8","c864db94.a47a08"]]},{"id":"7e42e1de.9372","type":"ui_text","z":"1b57437d.e80ddd","group":"b3e9036d.cf256","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload[0]}}","layout":"row-spread","x":1350,"y":840,"wires":[]},{"id":"839f440d.c74538","type":"ui_text","z":"1b57437d.e80ddd","group":"b3e9036d.cf256","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload[1]}}","layout":"row-spread","x":1350,"y":880,"wires":[]},{"id":"81cddcf8.9e41e","type":"ui_text","z":"1b57437d.e80ddd","group":"b3e9036d.cf256","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload[2]}}","layout":"row-spread","x":1350,"y":920,"wires":[]},{"id":"6b9168d4.1c50e8","type":"ui_text","z":"1b57437d.e80ddd","group":"b3e9036d.cf256","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload[3]}}","layout":"row-spread","x":1350,"y":960,"wires":[]},{"id":"c864db94.a47a08","type":"ui_text","z":"1b57437d.e80ddd","group":"b3e9036d.cf256","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload[4]}}","layout":"row-spread","x":1350,"y":1000,"wires":[]},{"id":"b1f83b9d.12faf8","type":"ui_group","z":"","name":"Brew info","tab":"b18d468d.762468","order":1,"disp":true,"width":"10","collapse":false},{"id":"6f509d75.5c9544","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"BeerDB","tz":""},{"id":"984e788e.3513d8","type":"ui_group","z":"","name":"Logger","tab":"b18d468d.762468","order":2,"disp":true,"width":"4","collapse":false},{"id":"b3e9036d.cf256","type":"ui_group","z":"","name":"Setup new brew","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b18d468d.762468","type":"ui_tab","z":"","name":"Start new brew","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
